@import "../../styles/partials/mixings";
@import "../../styles/partials/variables";
.header {
  @include flex(space-around, center);
  font-size: 1.5rem;
  border-bottom: 1px solid $header-black;
  min-width: 100vw;
  height: 10vh;
  nav {
    width: 70%;
    ul {
      @include flex(flex-start, center);
      list-style: none;
      margin: 0;
      li {
        margin-right: 2rem;
      }
    }
  }
}
