@import "../../styles/partials/mixings";
.container {
  @include flex(flex-start, center, column);
  min-height: 100vh;
  main {
    width: 100%;
    padding: 3rem 1.5rem;
    text-align: center;
  }
}
