@import "../../styles/partials/mixings";

.infoSection {
  @include flex(center, center);
  .img {
    max-height: 70vh;
    max-width: 50vw;
  }
  .detailsDiv {
    padding: 3rem;
    text-align: left;
    width: fit-content;
    h2,
    h4 {
      display: inline;
      margin-right: 2rem;
    }
    h2 {
      font-size: 1.8rem;
      font-weight: 300;
    }
    h4 {
      font-size: 1.5rem;
    }
  }
}
