@import "../../styles/partials/mixings";
.coverPicture {
  @include border-radius(4px);
  margin-left: 0;
  height: auto;
  width: 100%;
}
.picWrapper {
  width: 10%;
}
.infoWrapper {
  @include flex(space-around, center);
  width: 80%;
}
.titleDirector {
  @include flex(center, flex-start, column);
  margin-left: 2rem;
  width: 70%;
}
.year {
  text-align: left;
}
